# Entorno virtual
venv/
env/
.env

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Token sensible
.env
token_manager.py

# IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db
